/* Reset */

body, h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

/* Menu */

.menu {
    background-color: #252525;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    /* cálculo em:  

        (pixel desejavel)18/16 (pixel base) = 1,125

        caso queira um font-size de 32px: 

        32/16 = 2em
    */
    font-size: 1.125em;
}